[Unit]
Description=Offlineimap

[Service]
ExecStart=/usr/bin/proxychains -q /usr/bin/offlineimap -u quiet
Restart=always

[Install]
WantedBy=default.target
