#!/bin/sh

export XSESSION=i3wm

xscreensaver -no-splash &
xscreensaver-command -watch | $HOME/.local/bin/watch-xss-status &
xscreensaver-command -lock

# LOCATION_* variables come from private .oh-my-zsh/custom includes
[ -x $(which redshift) ] && redshift -l $LOCATION_LAT:$LOCATION_LON &

setxkbmap -layout pl -option caps:ctrl_modifier
